# Auto detect text files and perform LF normalization
* text=auto

# Reduce HTML/CSS/JS weight in GitHub language stats (Linguist)
templates/** linguist-documentation
static/** linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
